.contact{
    background-color: #A7F4AA;
}
.contactTitle h4{
    color: #44733C;
}
.contactForm input, .contactForm textarea{
    border: none;
}
.contactForm input::placeholder, .contactForm textarea::placeholder{
    font-size: 13px;
    color: #44733C;
    font-weight: 500;
}
.contactBtn{
    border: none;
    color: #ffffff;
    background-color: #44733C;
}