.hero{
color: #44733C;
}
.textArea{
    display: inline-block;
}
.headline{
    font-size: 40px;
    font-weight: 900;
}
.heroBtns button{
    background-color: #D9D9D9;
    border: none;
    color: #44733C;
    font-weight: 700;
}