.testimonialCard{
    background-color: #D9D9D9;
}
.testimonialTitle{
    color: #44733C;
    font-size: medium;
}
.testifier{
    color: #44733C;
    font-weight: 700;
    font-size: medium;
}
.testimonials-Top{
    border-bottom: 1px solid #8DB687;
}
.testimonials-Bottom p{
    font-size: 14px;
    color: #44733C;
}