.newPassword{
    height: 100vh;
  
}

.npLabel{
    font-size: 12px;
}
.newPasswordErrorMessage{
    color: red;
    font-size: 12px;
}
.cancelBtn{
    color: black;
    border: 1px solid black;
    background-color: white;
}
.changePasswordBtn{
    border: none;
    background-color: #44733C;
    color: white;
}