.application-go-back-btn{
    background-color: rgb(212, 209, 209);
    color: #44733C; 
    border: none;
}
.pageDescription{
   color: #44733C; 
}
.table{
    font-size: small;
}
td:nth-child(2){
    font-weight: 700;
}
i{
    color: #44733C;
}

.paginationBtn{
    border: 1px solid #44733C;
    color: white;
    background-color: #44733C;
}
.paginationBtn:hover{
    background-color: #44733C;
    color: white;
    border: none;
}
.pagin {
    color: white;
}
.pageDescription p{
    font-weight: 600;
    font-size: large;
}