.sidebar {
  background-color: #44733c;
  height: 100vh;
}
.sidebar-logo {
  height: auto;
  width: 100%;

}
.sidebar-logo p{
  color: white;
  font-size: large;
}
.sidebar-link {
  list-style-type: none;
  text-decoration: none;
  width: 100%;
  cursor: pointer;

  font-size: 13px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.sidebar-link:hover {
  background-color: #20351d;
  color: white;
}
.active {
  background-color: #20351d;
}


.sidebar-link .icon {
  flex: 30%;
  color: white;
}
.sidebar-link .title {
  flex: 70%;
  color: white;
}
.sidebar-logout-btn{
  border: 1px solid white;
  background-color: red;
  color: white;
}
