
.navbar-logo{
    color: white;
    font-weight: 600;
    font-size: large;
}
.navLink{
    text-decoration: none;
    list-style-type: none;
    font-size: 14px;
    margin: auto 5px;
    color: white;
}
.navBtn{
    border: none;
    color: #44733C;
    background-color: white;
}
.links{
   
}